html{            
    overflow: hidden;
    height: 100%;
    display: block;
}
body {
    margin:0;
    padding:0;
    font: normal 14pt Verdona, Arial, Helvetica, sans-serif;
    color: #000;  
    background-color: #CCC;    
}  
 
#body{   
    overflow: hidden;
}    
#appui_head{
    display: none;
    padding: 24pt 6pt 4pt 6pt;
    line-height: 32pt;
  
    font-weight: bold;
    font-size: 135%;
    background-color: #6F9A37;   
    border-bottom: 1pt solid #000;          
}  
#appui_head .logo{   
    background-image: url('img/zoo_logo.png?v=3');
    background-position: center right 8pt;
    background-repeat: no-repeat;   
    width: 50pt;
    height: 40pt;
    position: absolute;
    right: 0;
    top: 20pt;
}
#appui_head.back{
    padding: 4pt 6pt 4pt 31pt;
    background: #6F9A37 url(img/back_arrow.png) 6pt center no-repeat;
}
#splash_welcome{
    background: #4AF;    
    min-height: 100%;
}
#splash_welcome .title{
    text-align: center;  
    padding: 35pt 10pt 10pt 10pt;
    font-size: 24pt;  
}
#splash_welcome .description,
#splash_welcome .image{
    text-align: center; 
    padding: 10pt; 
}
#splash_welcome .image img{
    width: 128pt;
}     
#appui_foot{   
    display: block;
    position: absolute;
    bottom: 0pt;
    width: 100%;
    
    padding: 4pt 0;
    margin: 0;
    background-color: #6F9A37;   
    border-top: 1pt solid #000;
    text-align: center;
}   
#appui{
    overflow-y: auto;     
    display: block;
    position: relative;
}    

/* Enclosure Page */
#EnclosureHeadDiv.DisplayHead {                     
    padding: 0 0 6pt 0;
    margin: 0;                       
}                              
#EnclosureHeadDiv.DisplayHead .EnclosureDesc,
#EnclosureHeadDiv.DisplayHead .Instructions{
    padding: 4pt 6pt;
}     
#EnclosureHeadDiv.DisplayHead .Instructions{  
    color: #FFF;  
    background-color: #000; 
    text-align: center;
    padding-top: 2pt;
    padding-bottom: 2pt;
}                
.ListItem{
    clear: both;
    overflow: hidden;
    padding: 2pt 15pt 12pt 15pt;
    min-height: 100pt;
}     
.ListItem .ImageThumbDiv {   
    display: table-cell; 
    width: 100pt;  
    min-height: 100pt;
}
.ListItem .ListingInfo {      
    display: table-cell; 
    vertical-align: middle;  
    padding-left: 30pt; 
} 
.ListItem .ImageThumbDiv .ImageThumb{ 
    width: 100pt;
    box-shadow: 10pt 10pt 5pt #888;
}
          
/* Animal Page */
#AnimalHeadDiv.DisplayHead{
    border-bottom: 1pt solid #000; 
    padding: 4pt 6pt; 
}
#AnimalHeadDiv.DisplayHead .ImageThumbDiv .ImageThumb{ 
    width: 92%;
    box-shadow: 10pt 10pt 5pt #888;
}
#AnimalHeadDiv.DisplayHead #HeadInfoDiv{
    padding-top: 20pt;
}
#AnimalHeadDiv.DisplayHead #HeadInfoDiv .row{
    display: table-row;
    width: 100%;
}
#AnimalHeadDiv.DisplayHead #HeadInfoDiv .row div{  
    display: table-cell;
}
#AnimalHeadDiv.DisplayHead #HeadInfoDiv .DisplayName{
    font-size: 120%;  
}
#AnimalHeadDiv.DisplayHead #HeadInfoDiv .CommonTaxa{}

#AnimalHeadDiv.DisplayHead #HeadInfoDiv .GenusTaxa{
    font-style: italic;
}

#AnimalHeadDiv.DisplayHead #HeadInfoDiv .Sex{}
#AnimalHeadDiv.DisplayHead #HeadInfoDiv .Age{}

#AnimalActivityDiv {
    padding: 4pt 6pt;     
}
#AnimalActivityDiv .media img{
    width: 92%;  
}
#AnimalActivityDiv .AnimalDetailHead{
    padding: 4pt 0;
    font-size: 120%;
}
#AnimalActivityDiv .AnimalActivity {            
    padding-bottom: 15pt;  
    overflow: hidden;
    width: 100%;
}  
#AnimalActivityDiv .AnimalActivity div{
    display: inline;
    padding-right: 15pt;
}

/* Donation Page */
#appui.donation_page{
    background-color: #00A3FF;
    color: #FFF;
}
#appui_foot .normal{
    display: block;  
}
#appui_foot .donation{   
    display: none;  
}
#appui_foot.donation_page .normal{  
    display: none;  
}
#appui_foot.donation_page .donation{ 
    display: block;  
}    
#DonationPage .display{  
    text-align: center;
    margin: auto;
    clear: both;
    overflow: hidden;
    display: table;
    padding: 50pt 0;
}
#DonationPage .display .unit{    
    padding: 6pt 4pt 0 0;
    float: left;
    font-size: 30pt;
}
#DonationPage .display .amount{    
    float: left;
    font-size: 50pt;
}
#DonationPage .entry{
    font-size: 20pt;
}

#DonationPage .entry{  
    display: table;
    width: 100%;
}
#DonationPage .entry .row{
    display: table-row;
}
#DonationPage .entry .row .item{
    display: table-cell;
    text-align: center; 
    padding: 0 15pt;    
vertical-align: middle;       
}
#DonationPage .entry .row .item.delete .item_inner{  
    background-image: url(img/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 20pt;
}
#DonationPage .entry .row .item .item_inner{
    padding: 15pt 0;
    border-bottom: 2pt solid #2EBEEB;
}
#DonationPage .entry .row.last .item .item_inner{  
    border-bottom: none;
}

#appui.landscape #DonationPage{
    width: 50%;
    overflow: hidden;
}
#appui.landscape #DonationPage .entry{
    width: 50%;     
    position: absolute;
    top: 0;
    right: 0;
}
#appui.landscape #DonationPage .display{
    padding: 80pt 0;
}


/* extra classes */
.hideDiv { 
  display: none 
}